body
{
    min-height: 100vh;
}

*
{
    background-color: #FFFEF8;
}

#nav-login
{
    font-weight: 600;
}

#login
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login h2
{
    margin-top: 100px;
    padding-bottom: 30px;
}

form
{
    display: flex;
    flex-direction: column;
}

label
{
    padding-bottom: 7px;
}

input[type=text], input[type=password]
{
    width: 379px;
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px 0px #00000017;
}

input[type=submit]
{
    height: 36px;
    border: none;
}

#label-password
{
    padding-top: 20px;
}

#login a
{
    color: black;
}

footer nav ul
{
    background-color: white;
    margin-top: 45%;
    padding: 30px;
}





/* Style de la popup - message d'erreur */

.popup-background
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
}

.popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid none;
    box-shadow: 0px 5px 14px 0px rgb(149, 144, 144);
    z-index: 9998;
}

#zone-warning
{
    background-color: #B1663C;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;
}

#zone-warning img
{
    background-color: #B1663C;
    width: 65px;
    height: 65x;
    padding: 10px;
}

#zone-text
{
    padding: 5px 20px 22px 20px;
    gap: 20px;
    border-radius: 0 0 20px 20px;
}
#zone-text b
{
    font-size: 23px;
    font-weight: 600;
}

#zone-text p
{
    padding-top: 20px;
}

#zone-text button
{
    margin-top: 20px;
    padding: 6px 20px 7px 20px;
    font-size: 15px;
    background-color: #B1663C;
    color: #FFFEF8;
    border: none;
    border-radius: 25px;
}

#zone-text button:hover
{
    background-color: rgba(177, 102, 60, 0.7);
}