/********** Animations de la modale **********/

/* @keyframes effetFondu
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes effetFonduInverse
{
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slideTop
{
    from {transform: translateY(-50px);}
    to {transform: translateY(0px);}
}

@keyframes slideBottom
{
    from {transform: translateY(0px);}
    to {transform: translateY(50px);}
} */



/********** Background de la modale **********/

.modale-background /* modal */
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Flex pour centrer la modale : */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Animations : */
    /* animation: effetFondu .3s both;  */
    /* permet de passer d'1 effet à l'autre */

}


/* .modale-background[aria-hidden="true"]
{
    animation: effetFonduInverse .3s both;
}

.modale-background[aria-hidden="true"] .modale-style
{
    animation: slideBottom .5s both;
} */



/********** Style de la modale **********/

.modale-style /* modale-wrapper */
{
    position: absolute;
    width: 630px;
    height: 688px;
    background-color: white;
    border-radius: 10px;
    /* Flex pour centrer le contenu : */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Animations : */
    /* animation: slideTop .5s both; */
}

#croix-fermer
{
    position: absolute;
    top: 30px;
    left: 570px;
    cursor: pointer;
}

#croix-fermer:hover
{
    opacity: 50%;
}



/********** Section "Galerie photo" **********/

.section-galerie
{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-galerie h3
{
    font-size: 26px;
    padding-bottom: 45px;
}

.mini-gallery
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    height: max-content;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 60px;
}

.mini-gallery figure /* projets */
{
    width: 78px;
    height: 104px;
    display: flex;
    flex-direction: row-reverse;
    /* Ajustement de la taille de l'img : */
    background-size: contain;
    background-repeat: no-repeat;
}

#poubelle
{
    width: 9px;
    height: 11px;
    background-color: black;
    padding: 3px 4px; 
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.section-galerie button /* Ajouter une photo */
{
    font-family: 'Syne';
	font-size: 14px;
	color: white;
	border: 1px solid #1D6154;
	border-radius: 60px;
    padding: 9px 50px 10px 50px;
	background-color: #1D6154;
	cursor: pointer;
    margin-top: 35px;
}