/********** Animations de la modale **********/

@keyframes slideTop
{
    from {transform: translateY(-50px);}
    to {transform: translateY(0px);}
}

@keyframes slideBottom
{
    from {transform: translateY(0px);}
    to {transform: translateY(50px);}
}



/********** Background de la modale **********/

.modale-background
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Flex pour centrer la modale : */
    display: flex;
    align-items: center;
    justify-content: center;
}


/********** Animation de fermeture de la modale **********/

.modale-background[aria-hidden="true"] .modale-style
{
    animation: slideBottom .5s both;
}



/********** Style de la modale **********/

.modale-style
{
    position: absolute;
    width: 630px;
    height: 670px;
    background-color: white;
    border-radius: 10px;
    /* Flex pour centrer le contenu : */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Animation d'ouverture : */
    animation: slideTop .5s both;
}

#croix-fermer
{
    position: absolute;
    top: 30px;
    left: 570px;
    cursor: pointer;
}

#croix-fermer:hover
{
    opacity: 50%;
}

#fleche-retour
{
    position: absolute;
    top: 30px;
    right: 570px;
    cursor: pointer;
}

#fleche-retour:hover
{
    opacity: 50%;
}



/********** Section "Galerie photo" **********/

.section-galerie
{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-galerie h3
{
    font-size: 26px;
    padding-bottom: 45px;
}

.mini-gallery
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    height: max-content;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 50px;
}

.mini-gallery figure /* projets */
{
    width: 78px;
    height: 104px;
    display: flex;
    flex-direction: row-reverse;
    /* Ajustement de la taille de l'img : */
    background-size: cover, contain;
    background-position: center;
    background-repeat: no-repeat;
}

#poubelle
{
    width: 9px;
    height: 11px;
    background-color: black;
    padding: 3px 4px; 
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-ajout-photo-galerie
{
    font-family: 'Syne';
	font-size: 14px;
	color: white;
    width: 237px;
    height: 36px;
    white-space: nowrap; 
	border-radius: 60px;
	background-color: #1D6154;
	cursor: pointer;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}





/********** Section "Ajout photo" **********/

.section-ajout-photo
{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
}

.section-ajout-photo h3
{
    font-size: 26px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

/* Zone téléchargement image */
.conteneur-photo 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 169px;
    background-color: #E8F1F6;
    padding: 15px 0;
    margin-bottom: 30px;
}

/* Zone qui prévisualise l'img téléchargée */
.conteneur-photo2 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 169px;
    background-color: #E8F1F6;
    margin-bottom: 30px;
}

#image-affichee /* image téléchargée */
{
    width: max-content;
    height:100%;
}

.conteneur-photo img /* icone image */
{
    width: 76px;
    height: 76px;
}

.conteneur-photo p
{
    font-size: 10px;
    color: #444444;
}

/* Disparait pour afficher le span/bouton "+ Ajouter photo" */
.custom-input input[type="file"]
{
    display: none;
}

/* "+ Ajouter photo" */
/* Span/bouton qui remplace l'input file*/
#btn-ajout-photo 
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CBD6DC;
    border: none;
    width: 173px;
    height: 36px;
    border-radius: 50px;
    color: #306685;
    font-family: "Work Sans";
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 9px;
    cursor: pointer;
}

/* "+ Ajouter photo" */
#btn-ajout-photo:hover
{
    color: white;
    background-color: #A7A7A7;
}

#titre, #categorie
{
    border: none;
    box-shadow: 0px 4px 14px 0px #00000017;
    line-height: 49px;
    margin-top: 10px;
    width: 100%;
}

#categorie /* select */
{
    min-height: 51px;
    appearance: none; /* retire la flèche par défaut */
    /* Ajoute l'image de la flèche */
    background-image: url('../assets/icons/Vector.svg');
    background-position: 95% 50%; /* horizontal - vertical */
    background-repeat: no-repeat;
}

/* "Titre" */
.section-ajout-photo label
{
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
}

/* "Catégorie" - pour liste déroulante */
label[for="categorie"]
{
    margin-top: 25px;
}



#barre-span
{
    border-bottom: 1px solid #B3B3B3;
    margin-top: 54px;
}

#btn-valider
{
    font-family: 'Syne';
	font-size: 14px;
	color: white;
    width: 237px;
    white-space: nowrap; 
	border: none;
	border-radius: 60px;
    padding: 9px 50px 9px 50px;
	background-color: #A7A7A7;
	cursor: pointer;
    margin: 29px auto;    
}